@model PaginatedResponse<FeatureListItemGetResponse>
@{
    var order = 0;
    ViewData["Title"] = "Index";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Departments</h1>
        <a asp-action="create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            Create
        </a>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Desc</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <th scope="row">@(++order)</th>
                            <td>@item.Name</td>
                            <td>@(item.Desc.Length > 50 ? item.Desc.Substring(0, 50) : item.Desc)</td>

                            <td>
                                <img width="200" src="@item.FileUrl" alt="@item.Name" />
                            </td>
                            <td>
                                <a class="btn btn-warning" asp-action="edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-danger delete-btn" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav aria-label="..." class="d-flex justify-content-center">
                <ul class="pagination">

                    @if (Model.PageIndex > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-route-page="@(Model.PageIndex-1)">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    }

                    @if (Model.TotalPages <= 5)
                    {
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                <a class="page-link" asp-route-page="@i">@i</a>
                            </li>
                        }
                    }
                    else
                    {
                        @if (Model.PageIndex <= 3)
                        {
                            @for (int i = 1; i <= 5; i++)
                            {
                                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                    <a class="page-link" asp-route-page="@i">@i</a>
                                </li>
                            }
                        }
                        else if (Model.PageIndex >= Model.TotalPages - 2)
                        {
                            @for (int i = Model.TotalPages - 4; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                    <a class="page-link" asp-route-page="@i">@i</a>
                                </li>
                            }
                        }
                        else
                        {
                            @for (int i = Model.PageIndex - 2; i <= Model.PageIndex + 2; i++)
                            {
                                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                    <a class="page-link" asp-route-page="@i">@i</a>
                                </li>
                            }
                        }
                    }

                    @if (Model.PageIndex < Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-route-page="@(Model.PageIndex+1)">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>$(".delete-btn").click(function (e) {
            e.preventDefault();

            let url = $(this).attr("href");


            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,

                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(url)
                        .then(response => {
                            if (response.ok) {
                                Swal.fire({
                                    title: "Deleted!",
                                    text: "Your file has been deleted.",
                                    icon: "success"
                                }).then(() => {
                                    window.location.reload();
                                })
                            }
                            else if (response.status == 404) {
                                Swal.fire({
                                    title: "Sorry!",
                                    text: "Data not found",
                                    icon: "error"
                                })
                            }
                            else if (response.status == 401) {
                                Swal.fire({
                                    title: "Sorry!",
                                    text: "Data not found",
                                    icon: "error"
                                }).then(() => window.location = "/account/login")

                            }
                            else {
                                Swal.fire({
                                    title: "Sorry!",
                                    text: "Something went wrong",
                                    icon: "error"
                                })
                            }
                        })
                }
            });
        })</script>
}
